*{box-sizing: border-box;}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.125rem;
    text-align: center;
    color:black;
    font-weight: bold;
}


.container-header{
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(to left,rgb(0,153,76), rgb(0,51,25) );
  margin: 0;      
}

.separator{
  height: 125px;
  margin-top:calc(125px * -1);
  background-image: linear-gradient(to bottom right, transparent, transparent 40%, white 52%, white);

}

.end{
  background: white;
}


h1{ 
   font-size: 3rem;
    text-shadow: 1px 1px 1px black;
    color: #962d2d;
    font-family: verdana;
    font-weight: bold;
    margin-right: 20px;
    
}

#message-el{
    font-style: italic;
    font-size: 2rem;
    margin:10px;
    padding: 10px;
}

button{
    color:white;;
    width: 100px;
    background: linear-gradient(rgb(0,153,76), rgb(0,51,25));
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-radius: 10px;
    border: solid 1px;
    border-color: #064420;
    margin-bottom: 10px;
    margin-top: 2px;
}

#card-container{
  background: linear-gradient(rgb(0,153,76), rgb(0,51,25)); 
  margin: 0 auto;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}


#card-container img{
  margin: 10px;
}

@media (max-width: 600px){
  #card-container img{
    width: 25%;
  }

  #message-el{
    font-size: 1.3rem;
}
}
